<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<!--<add name="EJRamirezProgramacionNCapasEntities" connectionString="metadata=res://*/EJRamirezProgramacionNCapas.csdl|res://*/EJRamirezProgramacionNCapas.ssdl|res://*/EJRamirezProgramacionNCapas.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=EJRamirezProgramacionNCapas;persist security info=True;user id=sa;password=pass@word1;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->

		<!--<add name="EJRamirezProgramacionNCapas"
			 connectionString="Data Source=.;Initial Catalog=EJRamirezProgramacionNCapas;Persist Security Info=True;User ID=sa;Password=pass@word1"
			 providerName="System.Data.SqlClient"
			 />-->

		<add name="EJRamirezProgramacionNCapasEntities" connectionString="metadata=res://*/EJRamirezProgramacionNCapas.csdl|res://*/EJRamirezProgramacionNCapas.ssdl|res://*/EJRamirezProgramacionNCapas.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=EJRamirezProgramacionNCapas;user id=sa;password=pass@word1;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />



	</connectionStrings>	
</configuration>